.slide.intro {
    text-align: center;
	color: black;
}
.slide.intro:after {
    content: '';
}

.slide.intro h2 {
	font: 80px/1 'Open Sans Light', sans-serif;
	margin-top: 80px;
}

.slide .pre code {
    line-height: 1.5;
}

.slide .pre code:before {
    content: '';
}

.col2-left {
    float: left;
    width: 48%;
}
.col2-right {
    float: right;
    width: 50%;
}

.fade {
    color: #999;
}


.layer-1, .layer-2, .layer-3 {
	position: absolute;
}
.layer-1 {
	width: 1024px;
	top: 0;
	left: 0;
	z-index: 2;
}
.layer-2 {
	width: 1024px;
	top: 550px;
	left: 0;
	z-index: 3;
}
.layer-3 {
	width: 704px;
	top: 480px;
	left: -20px;
	z-index: 1;
}
